[2019-10-05 16:15] qSh4d0w opened #1 "Crash"
I can't even load the modpack it just crashes.
https://pastebin.com/Zr5QESfh

[2019-10-05 17:20] Gbergz commented on #1
I've had this problem once & i can help you. Follow these steps:

1. Download forge directly at this link: [https://files.minecraftforge.net/maven/net/minecraftforge/forge/1.14.4-28.1.107/forge-1.14.4-28.1.107-installer.jar](https://files.minecraftforge.net/maven/net/minecraftforge/forge/1.14.4-28.1.107/forge-1.14.4-28.1.107-installer.jar)
2. Open the file.
3. Click the 3 dots on the right side of

[2019-10-05 17:22] Gbergz commented on #1
Let me know if this works, because it works for me! :)

[2019-10-05 17:31] qSh4d0w commented on #1
It works. Thank you! :)

[2019-10-05 17:31] #1 closed, assigned to nobody

[2019-10-09 20:43] Campermangreg opened #2 "Crash when playing LAN"
Hello there.
I've just started playing this modpack over LAN and for some reason only one of us is getting this crash report:

[crash-2019-10-09_21.35.40-client.txt](https://github.com/The-Nexus-Project/Limitless/files/3709329/crash-2019-10-09_21.35.40-client.txt)

[2019-10-09 21:37] Gbergz commented on #2
Heya!
If both of you go into the "mods" folder & remove the mod "damage_indicator-0.0.7.jar" and then try without it. See if it works. I'll report this issue to the Damage Indicator mod developer.

EDIT: If that doesn't work try downloading the server files & setting the server up that way, i have tested and i've not received that specific crash there.

[2019-10-10 20:01] Campermangreg commented on #2
Removing damaged indications seemed to do the job!

Thanks for that.

[2019-10-10 20:01] #2 closed, assigned to nobody

[2019-10-12 14:26] RoselinaFey opened #3 "Dungeon loot tables empty"
Hello I've been playing on single-player for a while an a few patches and recently i found a buried treasure map. When i finally found it and opened it up it was completely empty. this was disheartening cause i was looking forever for a chance to get flying things materials. i later found a nether fortress and all the chests there were empty.
 I tested if it was the loot not just bad luck by using

[2019-10-12 17:37] Gbergz commented on #3
Investigating, i'll get back to you once i have more info.
Thank you for the report!

EDIT: It appears you're right, loottables in the Nether fortresses are empty. Buried Treasure maps aswell, i'll try to figure it out.

[2019-10-12 20:03] RoselinaFey commented on #3
Yes it kinda breaks both enigmatic and flying things. I appreciate the speedy response

[2019-10-13 12:30] hm-ysjiang commented on #3
I am the author of PotionCapsule, and I think it is the cause of this issue. Sorry for causing this to happen.

The reason is some mods(including mine) forgot to set their loot pool's name while injecting it to the loot table, and this causes an exception thrown when another mod trying to add its own pool into the injected table.

I have received [an issue report](https://github.com/hm-ysjiang/Pot

[2019-10-13 12:44] RoselinaFey commented on #3
Please forgive me for this but the mods name is just too good. "PotionCapsule, I'm going into a dungeon and I need your finest loot tables. You can't handle my strongest loot bug."

[2019-10-13 13:15] Gbergz commented on #3
Heya, i've been busy trying "fix" this error.
I've removed mods 1 by 1 until this problem went away. And it's now solved.

I removed the mod [Magic Mirrors](https://www.curseforge.com/minecraft/mc-mods/magic-mirrors) and the problem went away, dungeon loottables are now back, try this for yourself.

Remove the Magic Mirrors in the mods folder & then launch the game, create a new world, use command

[2019-10-13 13:16] Gbergz commented on #3
Heya, i've been busy trying "fix" this error.
I've removed mods 1 by 1 until this problem went away. And it's now solved.

I removed the mod [Magic Mirrors](https://www.curseforge.com/minecraft/mc-mods/magic-mirrors) and the problem went away, dungeon loottables are now back, try this for yourself.

Remove the [Magic Mirrors](https://www.curseforge.com/minecraft/mc-mods/magic-mirrors) in the mods

[2019-10-13 21:48] Gbergz commented on #3
This mod will either be fixed or removed next update.
Re-open this issue if further issues appear.

[2019-10-13 21:48] #3 closed, assigned to nobody

[2019-10-14 06:32] noobanidus commented on #3
Quick note: `/setblock ~ ~ ~ chest{LootTable:"chests/simple_dungeon"}` will place the loot chest for a simple dungeon at your table. The main Minecraft (unofficial?) Wiki has a list of all the loot tables -- saves all the trouble of going out to find it when you can just spawn it directly under you.

[2019-10-14 11:04] Gbergz commented on #3
Thank you. :)

[2019-10-14 22:40] noobanidus commented on #3
(I also plan on updating my mod ["Loot Drop"](https://www.curseforge.com/minecraft/mc-mods/loot-drop) for 1.14 at some point in the near future.)

[2019-10-20 09:35] Campermangreg opened #4 "New Golem mod"
Love the new Golem mod think its a great addition to the game,

I've moved two new villagers over to my house and levelled them up by trading with them.

when doing this i found the the spawning of the Golems went nuts!!! (See picture attached)
![2019-10-20_10 31 24](https://user-images.githubusercontent.com/6351408/67157515-32046880-f325-11e9-9cf9-995385fc3d13.png)

I looked in the config and not

[2019-10-20 10:25] Gbergz commented on #4
Hey! Thanks for reporting this.
I've lowered the value from 90 > 16 for the next update.

Let me know if i need to change it even further when next update is released.

[2019-10-20 10:25] #4 closed, assigned to nobody

[2019-12-13 05:09] Tommycat6278 opened #5 "Null pointer while using Paxel"

[2019-12-13 05:10] Tommycat6278 commented on #5
I made a iron paxel to save on hot bar slots but when I attempt to left click on any ore the game instantly crashes giving me a null pointer exception. I was trying to mine Inferium Ore.

[2019-12-13 10:56] Gbergz commented on #5
Got a crash report to go with this?
What mod is the paxel from?

Edit: upload crash reports to sites like ([Paste.ee](https://paste.ee), [pastebin](https://pastebin.com) & [hastebin](https://hastebin.com).)

[2019-12-13 11:24] Gbergz commented on #5
Did some digging and found out it's from the 'MoreProgression' mod. I'll disable the Paxels from that mod next update which in turn will "fix" the crash. I'll also try to report it to the mod dev of that mod.
Don't worry Paxels will still be available. The mod PickleTweaks has them & i didn't notice there were two sets of Paxels, which is now fixed.

Thank you for reporting this!
Feel free to re-o

[2019-12-13 11:24] #5 closed, assigned to nobody

[2019-12-16 00:56] NC256 opened #6 "Solar Flux Reborn causing crash on multiplayer server startup"
Just grabbed the latest v1.07 server files and upon loading the server it crashes. I've tried to launch it three times and get the exact same error each time.

I've changed a few things in the server.properties file like render distance, spawn protection, max players, etc. Nothing that I think would have caused this. Haven't added or removed any mods. Not really sure what would have caused this. S

[2019-12-16 01:51] Gbergz commented on #6
Hey, i see that you’re using Java 9 which is not a recommended nor good version for Minecraft. Use Latest Java 8 64bit and try again!

EDIT: And if that doesn't do anything. Go into the Twitch Launcher & unlock the pack so you can update mods. Then update Solar Flux Reborn to the latest version. Only that. Don't update any other mods as it might create issues.

Now try again.

[2019-12-16 05:32] Speedy48702 opened #7 "World Crashes upon start."
So I have really been enjoying this modpack, and I disconnect from my world to make sure it saves because it has been crashing a little but after I saved and tried to load back in it just crashed and has been doing that every time I try to load back into it. If anyone can help me try to get my world back I have been working a lot on it and would hate to restart everything.

Here is the crash repor

[2019-12-16 11:03] Gbergz commented on #7
Do you by any chance have anything from Refined Storage in your world?

[2019-12-16 16:27] Speedy48702 commented on #7
Yes, I do. I never had a problem with it since it was already in the modpack when I started.

[2019-12-16 18:42] Gbergz commented on #7
I reported it on the Refined Storage github issue page:
https://github.com/raoulvdberge/refinedstorage/issues/2375

[2019-12-16 20:28] NC256 commented on #6
Spectacular! Rolled back to Java 8_191 and no more crashing. Server starts fine. Thanks for catching that!

[2019-12-16 20:28] #6 closed, assigned to Gbergz

[2019-12-16 20:44] JacobHS opened #8 "MultiMC Unable to Launch"
**Describe the bug**
Tried running the pack on MultiMC and it would not even load. Crash report is down below. Any idea on how to fix it?

**Crash reports**
MultiMC version: 0.6.7-1375

Minecraft folder is:
C:/Users/Jacob/Desktop/MISC/MultiMC/instances/Limitless-1.07a/minecraft

Java path is:
C:/Program Files (x86)/Common Files/Oracle/Java/javapath/javaw.exe

Checking Java version...
Java is versi

[2019-12-16 20:45] Gbergz commented on #8
Hey, simple & short answer.
MultiMC doesn't support Forge 1.14, use twitch launcher.
Sorry for the inconvenience.

[2019-12-16 20:46] JacobHS commented on #8
Ok thanks!

[2019-12-16 20:46] #8 closed, assigned to Gbergz

[2019-12-17 00:18] mikeskey opened #9 "Pack will not load."
After using the so called "fix" with the forge issue the pack still will not load. There should be no need for any sort of fix therefore something is wrong with the pack on your end not on the users. Please fix this problem promptly.

When trying to load the pack there is a new forge folder added even after following the steps and installing forge manually.

[2019-12-17 10:59] Gbergz commented on #7
Closing this for now, this happens in other modpacks too it seems. So this will probably be fixed when the next Refined Storage update is live. And when that comes i'll post a hotfix update!

Re-open if any further issues comes!

[2019-12-17 10:59] #7 closed, assigned to Gbergz

[2019-12-18 11:25] Gbergz commented on #9
It seems issues like this one is random to be honest, works sometimes and sometimes not. I guess we have Forge to blame for these ones. They keep changing stuff behind the scenes and mods have to adapt to those changes. Sometimes mods do not adapt and then they don't update the mods to those changes and they break, not all the times but sometimes.

Server files have been tested before release, the

[2019-12-19 10:38] cooljackgi commented on #9
i where able to start a server but not to start my game client :/
log says about:
Failed to find Minecraft resource version 1.14.4-20190829.143755

[2019-12-19 10:40] Gbergz commented on #9
Hey, follow these steps and see if you can get the client to boot! Link:
https://github.com/The-Nexus-Project/Limitless/issues/1

[2019-12-19 10:53] cooljackgi commented on #1
works perfect.
thanks

[2019-12-19 20:54] DeezNutz9 opened #10 "Unplayable"
Ive played for about 6 housrs and now I cannot play another second. All my items have vanished and it wont let me mine or play. It said something about looking for server or something before I restarted to see if that was the issue. Please fix.

[2019-12-19 20:58] Gbergz commented on #10
Thanks for the very informative "bug report", i can absolutely help.

"Please fix" wont help at all.

[2019-12-19 20:58] #10 closed, assigned to Gbergz

[2019-12-20 01:43] mysticstrike opened #11 "Refined storage and colossal chest issue"
When connecting a colossal chest to a refined storage system using a colossal storage interface and external storage bus, The Crafting grid does not show the inventory in the chest but items added to the grid do get added to the chest.

[2019-12-20 19:24] Gbergz commented on #9
Closing this for now, re-open if needed.

[2019-12-20 19:24] #9 closed, assigned to Gbergz

[2019-12-20 19:25] Gbergz commented on #11
To be honest. This seems like an issue you should report to the Refined Storage developers or Colossal Chest. Thank you for reporting this though!

[2019-12-20 19:25] #11 closed, assigned to nobody

[2019-12-22 23:30] MarioAndWeegee3 opened #12 "Recipe Conflict - Yo-yo Cord and Rope Coil"
**Describe the bug**
The Yo-yo Cord and Rope Coil items use the same recipe. For me, the Rope recipe is the one that loads, making crafting the Cord impossible. This keeps you from crafting _any_ of the Yo-yos

**To Reproduce**
Steps to reproduce the behavior:

1.  Attempt to craft a Cord.

2. Rope Coil is always crafted instead.

**Expected behavior**
Craft Cord from the Yo-yo mod.

**Screenshots

[2019-12-23 16:25] Gbergz commented on #12
Hey thanks for the report! I'll fix this in the upcoming update. :)

[2019-12-23 16:25] #12 closed, assigned to Gbergz

[2019-12-23 17:47] TigerWalts opened #13 "[1.07a] Upgrade Aquatic 1.4.2 causes an Exception that hangs Dedicated Minecraft servers just before start"
**Describe the bug**
**Upgrade Aquatic** `1.4.2` causes an Exception that hangs Dedicated Minecraft servers just before start

**To Reproduce**
Steps to reproduce the behavior: (Change steps if required.)
1. Disable the **ShulkerDisplayBox** and **GameMenuModOption** mods (They are not compatible with dedicated servers)
2. Run the modpack using a Forge Server Jar
3. The server will hang just befor

[2019-12-23 18:12] Gbergz commented on #13
Are you using the Downloadable server Files or did you put together your own ones?

Download Server Files Here; Should work.
https://www.curseforge.com/minecraft/modpacks/tnp-limitless/files/2843731

[2019-12-24 07:07] SmellyModder commented on #13
This has been fixed in the latest version of Upgrade Aquatic: https://www.curseforge.com/minecraft/mc-mods/upgrade-aquatic/files/2848789

[2019-12-24 09:03] Gbergz commented on #13
Looks like this will be fixed in the upcoming scheduled update on the 26th. Closing. Thanks !

[2019-12-24 09:03] #13 closed, assigned to Gbergz

[2019-12-26 21:13] MrToad13 opened #14 "Crash while drinking milk to remove bad omen debuff"
The ingame server crashes right after drinking milk to remove the debuff "Bad Omen"
and you have to End task to close the game.

The is no crash report because it makes you manually Close the game through task manager.

[2019-12-26 21:18] #14 closed, assigned to Gbergz

[2019-12-26 23:16] Horang1173 opened #15 "Error when opening Crafting Station"
"Bad recipe crafttweaker:shaped_emeraldpaxel found, see log for details" error
Occurs when opening a Crafting Station.
Rotating a recipe also causes the items in the 1st, 2nd, and 4th, slots (in a 9 slot grid) to be deleted.
Recipe rotation issue only occurs on a server.
Issue can be manipulated to duplicate items (item is "gone" in crafting grid, but product remains. Can pull stack of product wit

[2019-12-27 01:03] Horang1173 opened #16 "Unable to enter new singleplayer game"
**Describe the bug**
A clear and concise description of what the bug is.
Also remember to report it to the Mod Author if you can identify which mod it is!
Cannot open a new singleplayer game. Closes the game before it can load. Trying to load a game crashes the client

**To Reproduce**
Steps to reproduce the behavior: (Change steps if required.)
1. Go to 'Singeplayer'
2. Click on 'New world'
3. Se

[2019-12-27 01:22] Gbergz commented on #15
Server restart appears to have fixed the issue, good!
Re-open if anything else happens.

[2019-12-27 01:22] #15 closed, assigned to nobody

[2019-12-27 01:25] Gbergz commented on #16
Add any other context about the problem here.
Restarting the client fixed the issue. "

Strange, but it seems you've got it fixed? If not feel free to re-open this issue! Have a good day.

[2019-12-27 01:25] #16 closed, assigned to Gbergz

[2019-12-27 03:49] Horang1173 opened #17 "Extra Golems main item "Golem Spell" cannot be created due to recipe overwrite"
**Describe the bug**
A clear and concise description of what the bug is.
Also remember to report it to the Mod Author if you can indentify which mod it is!

Recipe for "Golem Spell" overwritten by CCtweaks "floppydisc"

**To Reproduce**
Steps to reproduce the behavior: (Change steps if required.)
1. Go to make a Golem Spell
2. Mats will automatically look to create a floppy disc

**Expected behavi

[2019-12-27 11:10] Gbergz commented on #17
Thanks for the report! I'll go ahead and fix this for an upcoming "a" update. (1.08a). 👍

[2019-12-27 11:10] #17 closed, assigned to Gbergz

[2019-12-29 00:35] Horang1173 opened #18 "Fast creation of heavenly seeds (seems to be a bug/glitch) *Edit no essence"
**Describe the bug**
A clear and concise description of what the bug is.
Also remember to report it to the Mod Author if you can identify which mod it is!
When using a hoe on a fully grown heavenly seed base (growing on tilled soil) it will till the plant without resetting the growth time. This means you can hold right click and gain unlimited harvests. This plant also does not drop essence when h

[2019-12-29 11:45] cristiandp opened #19 "Exception in nether ticking entity -> Entity Pigman"
**Describe the bug**
The game just crash when you are on the nether. Don't need to do nothing special

**To Reproduce**
Tried in survival mode.
Go to nether.
Move around.
The game just crash at some time

**Expected behavior**
Not to crash the game

**Screenshots**

**Additional context**
Modpack version: v 1.08
Not optifine installed
Not more mods installed, just the pack itself

**Crash reports*

[2019-12-29 11:48] Gbergz commented on #19
This has already been reported & is still being looked into. Currently i have no idea what is causing it.
I'll update here if it's solved.

[2019-12-29 11:50] ImAK9 commented on #19
Potion damage from apotheosis.

[2019-12-29 11:51] ImAK9 commented on #19
Report it to the mod author

[2019-12-29 12:08] Gbergz commented on #19
I've gone ahead and reported it to the mod author.

[2019-12-31 02:54] gh0st31337 opened #20 "Can't break plants, sometimes"
**Describe the bug**
I am having an issue where I am not able to break plants.  It will work just fine, then start not allowing me to break them.  They break and immediately replant.

**To Reproduce**
Steps to reproduce the behavior: (Change steps if required.)
1. Attempt to break plant
2. Watch plant break and then immediately replant
3. Rinse and repeat

**Expected behavior**
The plants should b

[2019-12-31 19:34] Gbergz commented on #20
Hello, i have completely no idea what could be causing this.
Without nothing showing in logs or similar it's gonna be hard to know. Sorry!

Though the "Event Fired" in the logs and server console is from the mod Ender Enhancement and is fixed in the latest version of the pack along with other stuff. Version: [1.08a](https://www.curseforge.com/minecraft/modpacks/tnp-limitless/files/2852408).

Read

[2019-12-31 19:36] Gbergz commented on #19
This has been solved in v1.08a update of the pack, i hope! Please re-open this issue if the same crash occurs.

[2019-12-31 19:36] #19 closed, assigned to Gbergz

[2019-12-31 20:01] gh0st31337 commented on #20
It's there a mod that automatically plants things that fall on the ground?
I noticed today that when I was cutting down trees that some of the
saplings would plant themselves when they hit the ground.

On Tue, Dec 31, 2019, 2:34 PM Gbergz <notifications@github.com> wrote:

[2019-12-31 20:10] Gbergz commented on #20
Yes there's a mod that re-plants them or rather integrated into a bigger mod. I have no idea what it's called currently though.. I can understand that its annoying.

[2019-12-31 21:16] gh0st31337 commented on #20
I found something in the config that is probably doing it. It's in this
file Limitless/config/vanillatweaks/world.toml

I will try to disable this later and see if that fixes the issue.

On Tue, Dec 31, 2019, 3:10 PM Gbergz <notifications@github.com> wrote:

[2019-12-31 22:11] Gbergz commented on #20
Yes that is probably it!
For 1.09 i'll disable that.
Thanks for the report.

[2019-12-31 22:11] #20 closed, assigned to Gbergz

[2020-01-01 07:35] FarizTGK opened #21 "Can't join the server, am a total noob... please help."
[m[32m[13:11:57] [Server thread/INFO] [minecraft/DedicatedServer]: FarizTheMVP joined the game
[m[1;31m[13:11:58] [Netty Server IO #1/ERROR] [minecraft/ArgumentTypes]: Could not serialize net.minecraftforge.server.command.ModIdArgument@1d1290c8 (class net.minecraftforge.server.command.ModIdArgument) - will not be sent to client!
[m[1;31m[13:11:58] [Netty Server IO #1/ERROR] [minecraft/Argume

[2020-01-01 18:25] Horang1173 opened #22 "Crash from attempting to build the tier 2 shield from RFtools"
**Describe the bug**
A clear and concise description of what the bug is.
Also remember to report it to the Mod Author if you can indentify which mod it is!
Put recipe for tier 2 shield from RFtools into crafting table. instant crash.
**To Reproduce**
Steps to reproduce the behavior: (Change steps if required.)
1. Place all required items into table to build a tier 2 shield
2. See crashlog below

*

[2020-01-01 23:48] Wolfgaing6 opened #23 "Repeat server Crash unable to connect at times"
**Describe the bug**
when a player joins the server it crashes out on server console it spams the following message each time """

**To Reproduce**
Steps to reproduce the behavior: (Change steps if required.)
1. any time one of the 3 of us connect to the server
2. just join server

**Additional context**
also noticed server crashing with some enchantments such as Excavate X or mining fervor causin

[2020-01-02 11:22] Gbergz commented on #21
You gonna have to provide more information. And also use Paste sites like ”Paste.ee”, ”pastebin” & ”Gist GitHub”.
Logs, debug logs, crash reports.

Feel free to te-open this if the issue still happens.

[2020-01-02 11:22] #21 closed, assigned to nobody

[2020-01-02 11:24] Gbergz commented on #23
Hello, when posting logs, debug logs & crash reports. Please use Paste sites like: Pastebin. Paste.ee, GistGithub, Hastebin.

[2020-01-02 14:06] Wolfgaing6 commented on #23
sorry I was just following the list was not familiar with pastebin or any of the programs i Hope this is correct..

[tnp_limitless_player_crash.txt](https://github.com/The-Nexus-Project/Limitless/files/4016082/tnp_limitless_player_crash.txt)

[2020-01-02 20:08] gh0st31337 opened #24 "Fluidtanks Recipes Not Working"
**Describe the bug**
The recipes for the tank above the wooden tank do not work in game.

**To Reproduce**
1. Make wooden tanks from Fluidtanks
2. Try to make any tier above wooden

**Expected behavior**
The ability to craft higher tier tanks

**Screenshots**
n/a

**Additional context**
The recipes seem to be broken, none of the tank above the wooden tanks actually have any other material in the r

[2020-01-02 20:13] gh0st31337 opened #25 "Getting recipe errors when clicking on crafting table"
**Describe the bug**
When clicking on the crafting table a bunch of errors show up in the chat window and on the server logs, since the 1.0.8a update.

**To Reproduce**
1. Update to 1.0.8a
2. Click on any crafting table

**Expected behavior**
No errors for recipes.

**Screenshots**
![2020-01-02_15 11 33](https://user-images.githubusercontent.com/10960157/71690304-437cde80-2d72-11ea-9886-95c689cd29

[2020-01-02 20:15] gh0st31337 commented on #20
These errors are still spamming the client logs on 1.0.8a.

[2020-01-02 20:34] Gbergz commented on #25
Try restarting the game. Doesn't happen everytime. Seems to be a bug of some sort.

[2020-01-02 20:35] Gbergz commented on #20
Noticed this aswell. Though they are coming from another mod this time.
I'll try to fix this for v1.09!

[2020-01-02 22:35] gh0st31337 commented on #25
If it helps, I think it might have to do with the mod that adds those
shortcut buttons that allow you to easily spread out items in the creating
table.

On Thu, Jan 2, 2020, 3:34 PM Gbergz <notifications@github.com> wrote:

[2020-01-03 10:52] Gbergz commented on #24
Just tried this on a Server & Singleplayer. Everything appears to be in order(working).
Saw you reported CraftTweaker Errors earlier aswell. To me they seem connected. If errors spew out maybe some recipes stop working. Need to follow up on this one.

Images:
Wood Tank: [https://i.imgur.com/oIGp2qA.png](https://i.imgur.com/oIGp2qA.png)
Stone Tank: [https://i.imgur.com/oIGp2qA.png](https://i.imgur.

[2020-01-03 10:52] Gbergz commented on #24
Just tried this on a Server & Singleplayer. Everything appears to be in order(working).
Saw you reported CraftTweaker Errors earlier aswell. To me they seem connected. If errors spew out maybe some recipes stop working. Need to follow up on this one.

Images:
Wood Tank: [https://i.imgur.com/oIGp2qA.png](https://i.imgur.com/oIGp2qA.png)
Stone Tank: [https://i.imgur.com/oIGp2qA.png](https://i.imgur.

[2020-01-03 10:57] Gbergz commented on #25
If you can next time this happens. Provide me with the whole logs, crafttweaker logs

[2020-01-03 20:24] gh0st31337 commented on #25
Here are the logs because it happened again.

[crafttweaker.log](https://github.com/The-Nexus-Project/Limitless/files/4020779/crafttweaker.log)
[latest copy.log](https://github.com/The-Nexus-Project/Limitless/files/4020782/latest.copy.log)

[2020-01-03 21:44] gh0st31337 commented on #24
For some reason they are working now.  I was able to craft the higher tier tanks.  I wonder if its related to the crafttweaker bug, which also showed up during this playthrough and then went away mysteriously with no restarts.

[2020-01-05 02:52] craft90 opened #26 "Recipe conflicts"
I have noticed a few conflicts with cooking recipes.

First of all Mystical World cooked vegetables. When cooked in a regular furnace or the smoker instead of returning the cooked version (Cooked Carrot, Cooked Beetroot) it returns Animal Feed from Essetials. Cooking them on the campfire (vanilla MC) does return the cooked vegetable item. This conflict breaks recipes which request the cooked veget

[2020-01-05 03:25] gh0st31337 commented on #19
I think this issue is still occurring, I am running 1.0.8a and just had this crash.

[crash-2020-01-04_22.20.10-server.txt](https://github.com/The-Nexus-Project/Limitless/files/4022879/crash-2020-01-04_22.20.10-server.txt)

[2020-01-05 15:57] craft90 opened #27 "Tools with durability acts strange."
**Describe the bug**
Now this may seem like a mod issue. But considering it happened to two different mods in this modpack I feel like I ought to mention it anyway. For some reason tools with durability (Vanilla Food Pantry Cutter, PickleTweaks grass mesh.) goes away after using it once.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to a crafting table (bug happened both in vanilla and

[2020-01-05 16:14] craft90 commented on #27
Upon further testing I noticed that the issue does not occur in the 2x2 crafting window, so that works as a workaround. I've not tried it with the Cyclic crafting upgrade though so I can't say if it's just an inventory issue. In the 2x2 it works as intended. Which may hint at it being a shapeless vs shaped crafting issue. But how that may occur I do not know. No script I could find referenced Vani

[2020-01-05 22:15] Gbergz commented on #26
Heya! Thanks for the report.
I've gone ahead and fixed the Cooked Vegetable recipe conflict & the Edelwood recipe conflict.

The Tea Biscuits & Simple farming seems like a hard issue to trace down. If not fixed for 1.09 i'll try for another update!

[2020-01-05 22:18] Gbergz commented on #24
Closing this, reopen if further issues appear.

[2020-01-05 22:18] #24 closed, assigned to Gbergz

[2020-01-05 22:27] craft90 commented on #26
Thank you! The modpack has renewed my desire to play modded MC again so I'm quite keen on the pack working as it should. I'd know the hassle of making 1.14 modpacks myself. Hence why I didn't.

[2020-01-05 22:27] #26 closed, assigned to Gbergz

[2020-01-05 22:32] craft90 commented on #25
I ran into this myself. It seems to happen when using the Crafting Station that's connected to a chest. A regular vanilla crafting bench doesn't have the issue. Nor the SilentGem Crafting Station (though that one ran into some issue where it refuse to reopen, forcing me to break it. I have no idea why that happened though). Maybe it makes a bad call to CraftTweaker? For me it seemed to corrupt the

[2020-01-06 01:07] gh0st31337 commented on #25
I noticed the silent gems creating station was deleting my items when using
mouse tweaks shortcuts. So I stopped using it.

On Sun, Jan 5, 2020, 5:32 PM craft90 <notifications@github.com> wrote:

[2020-01-06 01:32] gh0st31337 opened #28 "Nether Crash from Pigman ticking entity"
I am creating a new issue for this because this is still happening in 1.0.8.a.  I have attached two crash reports from my server.

[crash-2020-01-05_20.14.42-server.txt](https://github.com/The-Nexus-Project/Limitless/files/4024370/crash-2020-01-05_20.14.42-server.txt)
[crash-2020-01-05_20.30.07-server.txt](https://github.com/The-Nexus-Project/Limitless/files/4024371/crash-2020-01-05_20.30.07-serve

[2020-01-06 16:10] Wolfgaing6 commented on #23
[updated_crash_report.txt](https://github.com/The-Nexus-Project/Limitless/files/4026850/updated_crash_report.txt)

but anytime we connect it crashes out could it be caused by not having same start up parameters?

no items in inventory other than forbidin and acanus pickaxe and axe as well as angel ring

[2020-01-07 03:59] Wolfgaing6 commented on #23
up Dated to current version issue seems cleared currently thank you for the time

[2020-01-07 03:59] #23 closed, assigned to Gbergz

[2020-01-07 13:43] brosssh opened #29 "Crash trying to running the modpack"
---- Minecraft Crash Report ----
// Who set us up the TNT?

Time: 1/7/20 2:40 PM
Description: Rendering overlay

java.lang.NullPointerException: Rendering overlay
	at com.google.common.base.Preconditions.checkNotNull(Preconditions.java:770) ~[guava-21.0.jar:?] {}
	at vazkii.botania.client.model.GunModel.<init>(GunModel.java:49) ~[?:r1.11-373] {re:classloading}
	at vazkii.botania.client.core.handle

[2020-01-07 13:57] brosssh commented on #29
Ok i solved following the issues number 1.
https://github.com/The-Nexus-Project/Limitless/issues/1

[2020-01-07 13:57] #29 closed, assigned to Gbergz

[2020-01-10 13:23] Kazemaho opened #30 "Crafting tables not working after some time and giving weird return"
After a time, the crafting in tables doesn't work aymore.

The result of the recipe never show and the items you put in the table just comes back in your inventory or simply disapeared (seems random) when you try to get them back or close the table.

 I'm on my way to craft an assembly halo and will let you know if the issue appears again with this one.

[2020-01-10 16:52] RedBlockCreator opened #31 "Pillager Outpost Freezes/Crashes Server"
**Describe the bug**
Server freezes and eventually crashes due to taking too long to tick (60 seconds) when at a pillager outpost. Kind of game breaking.

**To Reproduce**
Go to a pillager outpost on a server. After being there long enough it seems to freeze completely.

**Expected behavior**
It should not crash the server

**Crash reports**
Don't have any errors, server just freezes and then cras

[2020-01-10 16:56] Gbergz commented on #18
Mod removed in v1.10

[2020-01-10 16:56] #18 closed, assigned to Gbergz

[2020-01-11 13:33] kkkkkkhi commented on #1
can you make video please on your explain because i cant do this explain

[2020-01-11 13:59] cooljackgi commented on #1
i will do

Am Sa., 11. Jan. 2020 um 14:33 Uhr schrieb kkkkkkhi <
notifications@github.com>:

[2020-01-12 03:23] GNiessen opened #32 "Path error on startup."
This may be more of a curses issue, but I get an error on start up:
Failed to find Minecraft resource version 1.14.4-20190829.143755 at C:\Users\Gordon

The problem is I have a space in my windows user name: "Gordon Niessen"  and it is breaking the command on the space.  How can I fix this?

[2020-01-12 14:28] dotParx opened #33 "Silent Gear bow - Server crash if pressing Bow Upgrade button"
**Describe the bug**
Holding a bow crafted from Silent's Gear and pressing "B" (Default) to upgrade your bow will cause the server to instantly shut down.

**To Reproduce**
1. Build Silent's Gear Bow
2. Hold in hand
4. Press B (not displayed on bow)

**Expected behavior**
Nothing would happen, or other B mappings would take place.

--
Not my server, accessing logs would require a delay.

[2020-01-12 14:32] Gbergz commented on #32
Follow this guide see if works!
https://github.com/The-Nexus-Project/Limitless/issues/1

[2020-01-12 14:33] dotParx opened #34 "Server crash acquiring water in edelwood bucket"
**Describe the bug**
Attempting to retrieve water in an Edelwood bucket will result in an immediate server crash.

**To Reproduce**
Steps to reproduce the behavior: (Change these steps if required.)
1. Craft Edelwood Bucket
2. Pick up water
3. Turn server back on

**Expected behavior**
Acquire Edelwood Water Bucket

**Crash reports**
Not my server, but can spin one up and reproduce for logs if nee

[2020-01-12 14:33] Gbergz commented on #33
I would need the Crash report to really know anything.
See if you can acquire it somehow!

Edit: I'll see if i can reproduce it myself.

[2020-01-12 14:34] Gbergz commented on #34
Same as your last report, need the logs & crash report.
Edit: I'll see if i can reproduce it myself.
Thanks for the report though!

[2020-01-12 15:04] dotParx commented on #33
Crash log
[crash-2020-01-12_15.01.26-server.txt](https://github.com/The-Nexus-Project/Limitless/files/4050753/crash-2020-01-12_15.01.26-server.txt)

Latest Log
[latest.log](https://github.com/The-Nexus-Project/Limitless/files/4050754/latest.log)

[2020-01-12 16:03] Gbergz commented on #33
This kind of issue is known. Currently have no idea what causes it. Will try to fix it in a future update.
Sorry for this. I know it's annoying.

Edit: It has nothing to do with Silent Gears bows.

[2020-01-12 16:03] #33 closed, assigned to Gbergz

[2020-01-13 22:30] MonsterEats opened #35 "start up crash"
i know this has been said before however i have a different issue with it. so basically it wont start up, i click the play button on twitch its says applying patch 2 of 4 and then loads. then i press the play button on the native launcher it starts up a fml early loading process and crashes.

i have tried #1 issue and it hasnt fixed it.

[DED3DTQu.txt](https://github.com/The-Nexus-Project/Limitles

[2020-01-15 16:31] NorgerLegacy commented on #25
every crafting table i seem to lose items they disappear normal crafting table or crafting station.  plus get the crafting station error with it attached to a chest. maybe switch to vanilla crafting station not fast workbench, i dont see the benefit for it anyways

[2020-01-15 16:41] Gbergz commented on #25
@NorgerLegacy What version of the pack were you experiencing this in?

[2020-01-15 18:17] gh0st31337 commented on #25
This was in 1.0.7 and 1.0.8.  I haven't had any issues since then and now
I'm running 1.0.9, but like I said, I stopped using that silent gems
crafting station.

On Wed, Jan 15, 2020 at 11:41 AM Gbergz <notifications@github.com> wrote:

[2020-01-15 18:17] Gbergz commented on #25
Update to Version 1.10, i might've been fixed in that version.

[2020-01-16 21:19] greggregface commented on #32
I'm having difficulties with the Main window even loading the modpack. I'm on macOS just fyi, but I downloaded the forge file and redownloaded the pack multiple times to no avail. Help?

[2020-01-16 21:28] Gbergz commented on #32
macOS users has had trouble loading the pack sadly. One user installed Windows onto the macOS machine and then it worked flawlessly.

[2020-01-17 02:36] dotParx commented on #28
Not sure if your experience lines up...
I was experiencing this from many mobs.
I was using Eye of the Nebula (15% chance to teleport away form any attacker)
It tended to happen most while I was in combat... especially with a bow while I was holding the drawstring... making me the ticking entity most likely.

Since I removed this item I have crashed the server 0 times... still testing however.

[2020-01-17 03:57] gh0st31337 commented on #28
The last time it crashed for me I literally just can through the portal and
it crashed. My server logs always said it was the zombie pigmen too. Maybe
it has something to do with them fighting those clan guys, or whatever they
are called.

On Thu, Jan 16, 2020, 9:36 PM Shawn Parker <notifications@github.com> wrote:

[2020-01-17 06:12] NorgerLegacy opened #36 "Mod FluidTank and JEI recipe"
Limitless 1.14.4 -v1.10a
if you craft 4 wood tanks (1 in each corner) and put in crafting station or crafting table (crafting grid - refined storage does not work) it shows tin tank not stone (if you try to remove nothing happens it will not make it. JEI shows stone tank as just 4 wood tanks in corner. However if you put 1 in each corner and put 1 stone in the remaining spots on the grid it will m

[2020-01-17 06:15] NorgerLegacy commented on #36
oh all next level recipe for tanks show just 1 tank of previous level in each corner, havent tried each level to verify if those have same issue.

[2020-01-17 11:01] Gbergz commented on #36
Seems weird that you do not need Tin in order to craft a Tin Tank. I'll look into a fix.

[2020-01-17 11:27] Gbergz commented on #36
Appears I do not have the same recipes as you do. All recipes are working as expected. Really strange to be honest. Hmm...
____
**Wood Tank Recipe**:
![Woodtank](https://user-images.githubusercontent.com/26634554/72609221-b1093d00-3924-11ea-9c04-a42296127204.png)

**Stone Tank Recipe**:
![Stonetank](https://user-images.githubusercontent.com/26634554/72609231-b5cdf100-3924-11ea-9120-5146d1af0a21.pn

[2020-01-17 17:58] Gbergz commented on #31
Is this still happening? Starting to believe it's actually this [Illager+](https://www.curseforge.com/minecraft/mc-mods/illagers) mod that's causing the freezes. Had a total of 5 "freezes" today and all are pointing towards this mod. If you're willing to test you can remove the mod and see if it still happens.

[2020-01-17 17:58] Gbergz commented on #32
Closing this. Re-open if further help is needed.

[2020-01-17 17:58] #32 closed, assigned to nobody

[2020-01-17 17:59] #25 closed, assigned to Gbergz

[2020-01-17 18:00] Gbergz commented on #30
Still happening?

[2020-01-17 18:06] Gbergz commented on #35
Gonna need a debug log or the complete log. Gonna close this.

REOPEN if you can provide complete logs / debug log.

[2020-01-17 18:06] #35 closed, assigned to Gbergz

[2020-01-18 17:20] camcamhow opened #37 "Server won’t load world file"
i went to port over my world from mod pack version 1.09 to 1.10a and the server won’t load the world file

[2020-01-18 17:26] Gbergz commented on #37
Did you do ``fml confirm`` / ``/fml confirm`` in the Console ?

[2020-01-18 17:47] camcamhow commented on #37
I feel so stupid

[2020-01-18 17:47] camcamhow commented on #37
Thank you

[2020-01-18 18:07] Gbergz commented on #37
Haha it happens! Glad you got it running again. :)

[2020-01-18 18:07] #37 closed, assigned to Gbergz

[2020-01-18 22:44] camcamhow opened #38 "Block breaking glitch/bypass"
**Describe what happened:**
I broke a vanilla block with a Gobber hammer

**To Reproduce**
Steps to reproduce (double-check if you can do it yourself):
1. Place Security Craft Reinforced Blocks in a row and place a normal vanilla block I found out with Glowstone
2. Take a Gobber Nether hammer
3. and break the vanilla block
4. you can use a rubber hammer to bypass the security craft blocks

**Expec

[2020-01-19 04:14] raymondlucifer66 opened #39 "Opens 1.6.9 Minecraft launcher"
idk with this one, I tried #1 and I didn't work everything appears fine until the ancient 1.6.9 launcher appears, I can't provide a crash log since it technically didn't crash.

I'm just at a loss with this one.

[2020-01-19 04:15] raymondlucifer66 commented on #39
I'm just at a loss with this.

[2020-01-19 05:29] Nonsanity commented on #32
How I got this pack (or any 1.14 pack, for that matter) working on Mac:

Install Vanilla 1.14 Minecraft. In the launcher's settings, switch to the alpha launcher (requires re-launch of the program). Download the currently correct version of the Forge Installer (28.1.107 as I write this) that the pack uses and run it to install into Minecraft's directory. Then open up your (non-working) Twitch inst

[2020-01-19 08:24] lasiecz opened #40 "RFTools Builder is not voiding cobblestone, sand, dirt, etc."
Hi there,

I am having problem with RFTools Builder - in my singleplayer world I set Quarry with Shape Card (Clearing Quarry) and I tick the choice to void items like cobble, snad, dirt but it is not working - all the cobble, dirt, etc. is still going into my inventory. So I tried the same setup in creative world and here it is working so I am very confused.

I went through the config and didn't f

[2020-01-19 11:15] Gbergz commented on #40
Sounds strange! Could be an "error" in the mod, who knows.

Mind reporting it to the Dev? If he just throws you back here then i'll do my best to solve it. But I can't guarantee that it'll be fixed.

[2020-01-19 11:17] Gbergz commented on #39
I don't really know what this issue is about, seems like you provided no information on how I can help.
Mind trying out this Launcher? See if it works for you.
[https://gdevs.io/](https://gdevs.io/)

[2020-01-19 11:19] Gbergz commented on #31
Closing this, re-open if needed.

[2020-01-19 11:19] #31 closed, assigned to Gbergz

[2020-01-19 11:29] lasiecz commented on #40
Since this is my first post would you mind telling me how can i report it to Dev?

[2020-01-19 11:52] Gbergz commented on #40
Oh sorry, here: https://github.com/McJtyMods/RFToolsBuilder/issues

[2020-01-19 17:59] raymondlucifer66 commented on #39
yea well idrk how to explain it I gave the pack 9gigs I gave the Minecraft launcher 9gigs I changed the launcher to the JAR one it's just confusing when it literally launches the 1.6.9 Minecraft launcher but ill try that out and see how it goes.

[2020-01-20 02:15] cxcevents opened #41 "Industrial Forgoing Rancher not milking cows"
Rancher appears to work properly with Sheep but with cows you hear the milking action but no milk is produced. have tried all the other fluid machines in the mod and nothing works.

Other test #2: Latest 1.14.4 forge version, same version of IF. Still not working.
Other test #3: Latest forge, earlier versions (both of them I could install in my test pack through the twitch launcher). Still no go.

[2020-01-20 02:50] raymondlucifer66 commented on #39
Yea that launcher did work, I still don't know why the fuck it opened 1.6.9 but whatever idgaf anymore

[2020-01-20 02:50] #39 closed, assigned to Gbergz

[2020-01-20 22:43] cxcevents opened #42 "Lighting in a chunk going dark despite being lit"
problem has been seen by multiple users.

breaking torches in the area and replacing them temporarily fixes the lighting but it seems to go back.

i removed everything i had in that area and the glitch stopped. the next day the chunk next to it started doing the same thing. first time I had a dropper in the chunk being used to drop items, 2nd time in the adjacent chunk i had a dispenser setup.

bo

[2020-01-21 10:44] syrun97 opened #43 "Embellishcraft steel problem"
**Describe what happened:**
I cant make steel from blast furnace(recipe conflict with Silent's item refined iron) and I cant use embellishcraft steel to make alloy machine frame

**To Reproduce**
Steps to reproduce (double check if you can do it yourself):
1. smelt iron in blast furnace
2. refined iron: lol no steel 4 u
3. smelted block and that gave steel.
4. Oredict: no 4 u

**Expected behavior*

[2020-01-21 14:06] Gbergz commented on #43
Fixed in next release.
EDIT: Added a recipe to create EmbellishCraft Steel Ingots from Refined Iron, just smelt it again. 👍
Also gone ahead and added a 2nd recipe, identical to the existing one for Machine frame, just with "forge:ingots/steel" tag.

[2020-01-21 14:35] #43 closed, assigned to Gbergz

[2020-01-23 20:44] da3dsoul opened #44 "Server "Script" is Named After a Built-in, also not Linux"
I'm just going to say, this isn't really necessary. It's just such a minor simple mistake that it's funny.

start cannot be used for script names, because if you type start, it will be extremely unintuitive, even if it works. Name it something like RunServer.bat

Anyone running a linux server (hosting aside) should be knowledgeable enough to open the bat and see how to convert it, but including a

[2020-01-25 22:15] ergoplato commented on #42
It could be related to this issue on Botania’s tracker: https://github.com/Vazkii/Botania/issues/3140

[2020-01-27 17:37] Michael-McKinley opened #45 "Spider behavior issue in closed rooms"
**Describe what happened:**
Spiders in an enclosed rectangular room end up in the corners at the ceiling and do not move even if attacked at close range (sword).

**To Reproduce**
I cannot tell you exactly how to reproduce, so I will tell you a tale of how I ran into it.  (wink)

I found two, large three-story square structures when exploring and this happened in both.

Each floor had two spawners

[2020-01-29 18:43] Xscyt opened #46 "Version 11b MC 14.4.4 RFToolsBuilder: Cannot find block! or missing Inventory on top or below"
Mod: RFToolsBuilder

I created my setup as usual (powersource next to the builder, lever on the other side, chest on top of it; prepared the shape card to quarry the specific area and inserted it)

**To Reproduce**
1. Build the "normal" - Setup for the RFToolsBuilder and try to start mining
2. Tried another dimension - > Yamda mining dim and overworld
3. It always stops directly or after some chun

[2020-01-29 21:53] bstock84 commented on #44
I tend to agree that although a minor thing, most server packs include both .bat files as well as .sh files. In this case I simply made the .bat executable and it runs just fine with ./start.bat

I too would prefer something like ServerStart.bat/ServerStart.sh, sounds a bit more proper. But again these are minor differences.

[2020-01-30 14:25] Gbergz opened #47 "Is Twitch not Launching the Modpack? Then read this!"
___________
Is TNP Limitless or any other Modpack not Launching for you? Then check out this guide!
**_(Remember to download the correct Forge version of the pack you're trying to fix. I've provided the correct Forge version for the latest version for TNP Limitless below. Good luck!)_**
___________
Don't want to go through these steps because you're lazy?
Then you can go ahead and download the GD

[2020-01-30 17:29] #46 closed, assigned to Gbergz

[2020-02-06 22:51] craft90 opened #48 "Recipe conflict with Terracotta Bricks"
Both Mystical World and Embellishcraft adds terracotta bricks which leads to a recipe conflict where you always end up with MysticalWorld terracotta bricks.

**To Reproduce**
Steps to reproduce (double check if you can do it yourself):
1. Grab 4 terracotta
2. Place them in a 2x2 pattern in a workbench (I used the Simple Storage one)
3. You'll end up with MysticalWorld terracotta bricks

The recipe

[2020-02-06 22:53] Gbergz commented on #48
I'll fix this in v1.12
Thanks for the report!

[2020-02-06 22:53] #48 closed, assigned to Gbergz

[2020-02-06 22:54] craft90 commented on #48
You're welcome.

[2020-02-17 23:32] powerfuladrenaline opened #49 "Crash after drinking Milk from bucket"
**Describe what happened:**
After getting bad omen, I drank milk from a bucket. Immediately crashed to the menu. I had someone else do the same thing, just drinking milk from a bucket (without bad omen) and the same thing happened.

**To Reproduce**
Steps to reproduce:
1. Milk cow with Bucket
2. Drink
3. Kicks you out (client crash)

**Expected behavior**
Well I just wanted the bad omen effect gon

[2020-02-23 23:00] VoxelVixen opened #50 "1.13 update security issue"
My issue is that updating the pack via the startserver options seems to rely on downloading some jar file  from a site called https://yoosk.pl which i never heard of.

I only use/trust zip files from curseforge so unless you upload a normal server zip with config/mods/scripts/etc folders, i cant/wont update my server.

[2020-02-25 14:48] Gbergz commented on #50
Latest update (when server files are approved.) Includes previous way of doing server files.

[2020-02-25 14:48] #50 closed, assigned to Gbergz

[2020-03-08 04:51] mysticdrew opened #51 "Please remove Journeymap from your packs."
You are in violation of our license agreement.
https://journeymap.info/Modpack_FAQ

To continue use of Journeymap in your packs, you must remove it from your github repos and use the curse cdn for each install. Rehosting is strictly prohibited in our Terms of Use.

Here are the instructions to get the file from the curse cdn without rehosting.
Use this URL to get the metadata json
`https://addons-

[2020-03-08 05:03] mysticdrew commented on #51
Your packs are already on curse, why do you rehost all the mods here?

[2020-03-08 14:16] Gbergz commented on #51
Hey thanks for noticing that, didn't really think that one through to be honest. I've removed the mods from Github. All of them.

[2020-03-08 18:06] mysticdrew commented on #51
Thanks you!

[2020-03-08 18:06] #51 closed, assigned to Gbergz

[2020-03-22 00:34] MokahTGS opened #52 "Server Crash 1.14 Server Files"
**Describe what happened:**
Launching a server with the server files produces a server crash.

**Crash-reports**
https://pastebin.com/rGuk5bxA

**Java Info:**
 - Java Version:
 - 64bit/32bit: Java 8 64b

**My OS (Mac/Win10/Linux)**
- win10

[2020-03-22 00:44] Gbergz commented on #52
Limitless doesn't contain the Mod [MrCrayfish's Vehicle Mod](https://www.curseforge.com/minecraft/mc-mods/mrcrayfishs-vehicle-mod)
Please don't report issues with mods that aren't even in the pack.

[2020-03-22 00:44] #52 closed, assigned to Gbergz

[2020-03-22 00:44] MokahTGS commented on #52
Yeah, just saw this...I'm a dummy

[2020-03-22 00:45] Gbergz commented on #52
No problem :D
But to solve this though you'll need to add this mod: [Obfuscate](https://www.curseforge.com/minecraft/mc-mods/obfuscate)

[2020-03-22 00:47] MokahTGS commented on #52
Yes, I figured...my client installed it automatically and I forgot to grab it for our server.

[2020-03-22 02:44] MokahTGS opened #53 "Journeymap Crash?"
**Describe what happened:**
Server Crashed...reason unknown.  Server was up and running with a couple people on and then it crashed.

**Crash-reports**
https://pastebin.com/mmBPPQF5

**Java Info:**
 - Java Version: 8 64b
 - 64bit/32bit:

**My OS (Mac/Win10/Linux)**
- win10

[2020-03-22 12:13] ImAK9 commented on #53
@MokahTGS What you do is report it to the mod author and not on here.

[2020-03-22 15:39] MokahTGS commented on #53
I will report it to journymap but here is also appropriate since the crash happened using this mod pack.

[2020-03-23 00:40] MokahTGS commented on #53
Well they seem pretty rude, so I'm not sure they will get this fixed.  We just turned off Journeymap and are using another map mod.

[2020-03-23 10:40] Gbergz commented on #53
Pretty sure it can be removed from server and still be used. Though some
features will be disabled. Sorry you’re having issues.

[2020-03-23 18:16] Gbergz commented on #53
Closing this as it's a mod issue.

[2020-03-23 18:16] #53 closed, assigned to Gbergz

[2020-03-23 18:17] #49 closed, assigned to Gbergz

[2020-03-23 18:17] #45 closed, assigned to Gbergz

[2020-03-23 18:17] #44 closed, assigned to Gbergz

[2020-03-23 18:18] Gbergz commented on #42
Should be fixed within Botania now.

[2020-03-23 18:18] #42 closed, assigned to Gbergz

[2020-03-23 18:18] Gbergz commented on #41
Probably a Mod Issue, report it to them on their issue tracker if it still happens.

[2020-03-23 18:18] #41 closed, assigned to Gbergz

[2020-03-23 18:18] Gbergz commented on #40
Closing.

[2020-03-23 18:18] #40 closed, assigned to nobody

[2020-03-23 18:19] Gbergz commented on #38
If this is still happening report it on the mods issue tracker.

[2020-03-23 18:19] #38 closed, assigned to Gbergz

[2020-03-23 18:20] #36 closed, assigned to Gbergz

[2020-03-23 18:20] Gbergz commented on #34
Might've been fixed in the mod. Re-open if you're still experiencing this.

[2020-03-23 18:20] #34 closed, assigned to Gbergz

[2020-03-23 18:20] Gbergz commented on #30
This has been fixed for awhile. Closing,

[2020-03-23 18:20] #30 closed, assigned to Gbergz

[2020-03-23 18:21] Gbergz commented on #28
Re-open if further discussion is needed.

[2020-03-23 18:21] #28 closed, assigned to Gbergz

[2020-03-23 18:22] Gbergz commented on #27
Heya, late reply. If this is still happening re-open this issue. But for now i'm closing this!

[2020-03-23 18:22] #27 closed, assigned to Gbergz

[2020-03-23 18:22] #22 closed, assigned to Gbergz

[2020-03-27 14:05] craft90 opened #54 "Biome ID conflict"
**Describe what happened:**
I launched my older save of the modpack. heading outside for a walk I noticed these Rifter mobs running at me, pursued by Sulks. As I headed deeper into that biome I quickly noticed that the ground was pink and these Sulks were everywhere. I soon realized that for some reason Druidcraft's Dark Wood Forest biome is in conflict with Midnight's Hill Fungi biome. There was

[2020-04-06 13:53] sal-versij opened #55 "Server side freeze"
**Describe what happened:**
`The server doesn't respond`: the client can continue to play but blocks don't drop and chest don't open, also the world stop loading new chunks, I'm playing in singleplayer but TheOneProbe says server doesn't respond whenever I point a block.

**To Reproduce**
I don't know it happens randomly, I think is something with the loading of the world because change every time

[2020-04-06 15:28] Gbergz commented on #55
How much RAM do you currently have allocated to the server?
Also, you said you updated the modpack from 1.14 to 1.15? As in you downloaded [Limitless 2](https://www.curseforge.com/minecraft/modpacks/tnp-limitless-2) or made your own 1.15 version of [Limitless 1](https://www.curseforge.com/minecraft/modpacks/tnp-limitless)?

[2020-04-21 15:19] kkjdroid commented on #55
I think the OP means that they updated TNP 1 from its own version 1.14 to 1.15, still on Minecraft 1.14.4.

I'm having the same issue very frequently, with standard "The server can't keep up" logs, on TNP 1.16 with Windows 10 and Java 1.8.0-241 x64. It happens every time I move more than ~200m from my base.

If I exit the world, the game freezes on the "Saving world" screen and the last log entry

[2020-04-22 16:18] craft90 commented on #54
The issue appear only in older saves it seems. I made a new test world and went flying about. In that save the Dark Forest biomeID was correct.
That said, it seems like the Sulks has a very high spawn rate when in the Overworld. I ran a kill entity command and it killed over 1650 sulks. The excessive spawn of these Sulks is kicking my CPU into overdrive and it's a i7 processor.

[2020-05-10 15:38] sal-versij commented on #55
For the ram 8GB and yes I update the version of the pack from the twitch launcher that displayed the version 1.15 still in minecraft 1.14.4

[2020-06-09 18:42] Gbergz commented on #54
Closing this for now, feel free to re-open!

[2020-06-09 18:42] #54 closed, assigned to Gbergz

[2020-07-13 10:38] #55 closed, assigned to Gbergz

[2020-07-13 10:38] #47 closed, assigned to Gbergz

[2020-10-13 10:21] sldains opened #56 "Crash to desktop bugged items"
While hovering the mouse over certain items (a wrench, an enchanted sword, etc.) the game will suddenly hard crash to desktop. The items causing this seem so random and I'm not sure how to fix it. I'm playing on lan and some times it affects both of us and sometimes only one.

[2020-10-13 11:13] Gbergz commented on #56
A crash report and pack version would be nice.

[2020-10-13 11:14] Gbergz commented on #56
But I can’t promise It’ll get fixed since 1.14 is left in the dark now that 1.15 & 1.16 is out.

[2020-10-13 19:14] sldains commented on #56
Sorry, this was with Limitless 2, not 1. Sent here by mistake. I resent the issue to 2.

[2020-10-13 19:14] #56 closed, assigned to nobody

[2021-10-20 02:15] patitow commented on #6
I have rolled back to jre1.8.0_301 and my server still crashes, any clue? (current version of mod pack)